@media screen and (min-width: 1440px) {
   
    header {
        width: 100%;
    }

    section {
        width: 1440px;
        display: flex;
        justify-content: center;
    }
    .five {
        width: 100%;
    }
    .fifth{
        width: 1440px;
    }
    .six {
        width: 100%;
    }
    .sixth {
        width: 1440px;
    }
}