@media screen and (min-width: 1440px) {
    .covid {
        width: 1440px;
    }
    .covid-container{
        display: flex;
        justify-content: center;
    }
    header {
        display: flex;
        justify-content: center;
    }
    .header-container {
        width: 1440px;
        display: flex;
        flex-direction: column;
        
    }

    section {
        width: 1440px;
        display: flex;
        justify-content: center;
    }
    .onlineexp {
        height: 1076px;
    }
    .row {
        grid-template-columns: 578.5px 289.25px 289.25px;
        grid-template-rows: 289.25px 289.25px;
    
    }

    .five {
        width: 100%;
    }
    .fifth{
        width: 1440px;
    }
    .six {
        width: 100%;
    }
    .sixth {
        width: 1440px;
    }
}